<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="infofile">../info.log</Property>
		<Property name="errorfile">../error.log</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="InfoFile" fileName="${infofile}">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="ErrorFile" fileName="${errorfile}">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>

		<RollingFile name="RollingFile" fileName="../logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250MB" />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="errorfile" level="error" />
			<AppenderRef ref="infofile" level="info" />
			<AppenderRef ref="Console" level="info" />
		</Root>
	</Loggers>
</Configuration>